@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0; 
    font-family: roboto;   
}

#banner {
    background-color: black;
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 50px;
}