
* {
    box-sizing: border-box;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
  }

}
header {
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: coral;
  height: 100px;
  width: 100%;
}
.cards {
  margin-top: 10px;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(188, 182, 223);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  border-radius: 1Opx;
  width: 150px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: blanchedalmond;
}
.card-img {
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  background-image: url("http://placekitten.com/200/300");
  height: 200px;
  width: 100%;
}
.card-body {
  padding: 10px 20px;
}
.card-body h2 {
  margin: 10px 0px;
}
.card-button {
  border: none;
  border-radius: 10px;
  height: 50px;
  background-color: lightblue;
  width: 100%;
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0; 
    font-family: roboto;   
}

#banner {
    background-color: black;
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 50px;

/* Mobile en portrait (320px à 414px) - Pour les appareils avec des écrans de 4" à 6,9".
Mobile en paysage (568px à 812px) - Idem, mais en paysage.
Tablette en portrait (768px à 834px) - Pour les appareils de 7" à 10".
Tablette en paysage (1024px à 1112px) - Idem, mais aussi tablettes 12" en portrait.
Ecrans d'ordinateurs portables et de bureau (>1200px) - Varie beaucoup, mais généralement de 1200px et plus.*/

/* Au niveau le plus haut du code */
@media screen and (max-width: 600px) {
    
  .menuFooter{
      width: auto;
      height: 100%;
      background-color: rgb(255, 0, 200);
      border :blueviolet 1px solid;
      display: flex;
      align-items: space-between;
  }

  .buttonOnMenu{
      width: 20%;
      height: 40%;
      border-radius: 25% 10%;
      margin-top: 2%;
      margin-right: 15%;
      margin-bottom: 2%;
      font-family: 'Roboto', Courier, monospace;
      text-align: center;
  }
}

/* Au niveau le plus haut du code */
@media screen and (min-width: 601px) {

  .menuFooter{
      width: auto;
      height: 100%;
      background-color: rgb(72, 255, 0);
      border :blueviolet 1px solid;
     
     
  }

  .buttonOnMenu{
      width: 15%;
      height: 40%;
      border-radius: 45% 5%;
      margin-top: 2%;
      margin-right: 15%;
      margin-bottom: 2%;
      font-family: 'Roboto', Courier, monospace;
      text-align: center;
  }
}